body,html{
  margin:0;
  width:100%;
  min-width:600px;
}

.header {
  width : 100%;
  text-align : center;
  height : 60px;
}
#header .icon {
  margin: 0 .75em 0 0.75em;
}

.app_body {
  max-width: 300 px;
}

.gameform {
  margin : 16px auto;
  width : 200px;
}

#gameform .inputGame{
    width: 110px;
}

#gameform .submitGame{
  width: 10px;
}

.codenames {
  display: flex;
  flex-wrap: wrap;
  padding:32px;
  justify-content: center;
  align-items: center;
  

}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:16px;
}

