@import "colors.scss";

.score{
  display: flex;
  justify-content: center;
  align-items: center;
}

.scorerow{
  display: inline-block;
  margin:16px;
  height:50px;
}

.scorelabeltitle{
  display: inline-block;
  width: 150px;
  height:20px;
  margin : 2px;
  padding: 8px;
  border : 1px solid $brown;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  background-color: $brown;
  color: $white;
}

.scorelabelbluered {
  display: inline-block;
  width : 30px;
  height:30px;
  line-height: 30px;
  vertical-align: middle;
  margin : 2px;
  background-color: $blue;
  text-align: center;
  font-size : 25px;
  font-weight: bold;
  border : 3px solid transparent;
  border-radius: 8px;
  }
.scorelabelblueblue {
  display: inline-block;
  width : 30px;
  height:30px;
  line-height: 30px;
  vertical-align: middle;
  margin : 2px;
  background-color: $blue;
  text-align: center;
  font-size : 25px;
  font-weight: bold;
  border : 3px solid $brown;
  border-radius: 8px;
  }
.scorelabelredblue {
  display: inline-block;
  width : 30px;
  height:30px;
  line-height: 30px;
  vertical-align: middle;
  margin : 2px;
  background-color: $red;
  text-align: center;
  font-size : 25px;
  font-weight: bold;
  border : 3px solid transparent;
  border-radius: 8px;
  }
.scorelabelredred {
  display: inline-block;
  width : 30px;
  height:30px;
  line-height: 30px;
  vertical-align: middle;
  margin : 2px;
  background-color: $red;
  text-align: center;
  font-size : 25px;
  font-weight: bold;
  border : 3px solid $brown;
  border-radius: 8px;
  }

